:root {
  /* primary */
  --purple: hsl(259, 100%, 65%);
  --lightRed: hsl(0, 100%, 67%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightGrey: hsl(0, 0%, 86%);
  --smokeyGrey: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%);
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--lightGrey);

  display: flex;
  flex-direction: column;
  flex: 1;

  justify-content: center;
}

main {
  padding: 1rem;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem 4rem;

  background-color: var(--white);
  /* border: 1px solid; */

  border-radius: 20px;
  border-bottom-right-radius: 20%;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: var(--smokeyGrey);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.8rem;
  padding-right: 1.25rem;
  width: 3rem;

  border-radius: 5px;
  border: 1px solid var(--lightGrey);
}

.error {
  color: var(--lightRed);
}
.middleContainer {
  /* display: flex; */

  height: 60px;
  /* border: 1px solid; */

  border-bottom: 1px solid var(--lightGrey);

  /* padding: 3rem 1rem; */
  margin: 0rem 0rem 3rem;

  position: relative;
}

.iconHolder {
  position: absolute;
  left: 0;
  right: 0;

  top: 55%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.icon {
  width: 2rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--purple);
}

.outputContainer {
  font-size: 3rem;
  font-weight: 700;
}

.numContainer {
  height: 3.5rem;
}
.num {
  font-size: 3.5rem;
  color: var(--purple);
}

.describer {
  color: var(--offBlack);
  font-style: italic;
  font-weight: 800;
}

.attribution {
  margin-top: 10rem;
  justify-self: flex-end;
}
